@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Pinyon+Script&family=UnifrakturMaguntia&display=swap');

body {
    background-color: white;
}

h1 {
    color: #18c009;
    border: rgb(34, 145, 209) solid 1px;
    border-radius: 10px;
    text-align: center;
    background: black;
    margin: 30px 70px 150px 20px;
    padding: 10px;
    letter-spacing: 5px;
    font-family: "UnifrakturMaguntia", cursive;
}

p {
    color: rgb(11, 14, 1);
    text-decoration: double;
    text-indent: 50px;
    word-spacing: 15px;
    font-size: 30px;
    font-family: "Imperial Script", cursive;
}

#segundo{
    font-family: "Pinyon Script", cursive;
    font-style: italic;
    font-weight: bold;
    color: #ffec00;
    background: gray;
}
 
.botao {
    margin-left: 33%;
    background: rgb(49, 190, 92);
    color: beige;
    padding: 20px;
    border-radius: 5px;
}

.botao:hover {
    background: olive;
    text-decoration: underline;
    font-weight: bold;
    padding: 20px;
}

.teste {
    width: 200px;
    height: 150px;
    background-color: burlywood;
    max-width: 300px;
}